<!-- Modal-->
<div class="modal-content">
  <div class="modal-header">
    <%= link_to 'Edit', edit_work_event_path(work_event), class: "btn btn-primary" if current_user.admin? %>
    <h5 class="modal-title"><%= work_event.title %></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <h5 class="modal-title"><%= work_event.start_time.strftime("%Y/%m/%d") %> to <%= work_event.end_time.strftime("%Y/%m/%d") %></h5>
      <h5 class="modal-title"><%= work_event.start_time.strftime("%H:%M") %> to <%= work_event.end_time.strftime("%H:%M") %></h5>
    </div>
    <div class="jumbotron text-center text-wrap" style="word-break: break-word">
      <%= raw(work_event.description) %>
    </div>
    <div class="text-center">
      <% if work_event.users.include?(current_user)%>
        <%= link_to 'Joined', '#', class: "disabled btn btn-success" %>
      <% else %>
        <%= link_to 'Join Work Event', user_events_path(user_event: { work_event_id: work_event.id }) , class: "btn btn-secondary", method: :post %>
      <% end %>
    </div>
    <%= link_to 'Delete Event', work_event_path(work_event), method: :delete, action: :destroy,
                data: { confirm: 'Are you sure? Deleting a work event will delete ALL its user events.' }, class: "btn btn-danger float-right my-3" if current_user.admin? %>
  </div>
  <div class="modal-footer">
    <div class="mx-auto">
      Workers assigned: <br />
      <% if work_event.users.present? %>
        <% work_event.users.each do |user| %>
          <b> <%= user.full_name %> </b>
          <%= link_to 'Remove', work_event_path(work_event), method: :delete, action: :destroy,
                      data: { confirm: 'Are you sure? This will remove this helper to this activity.' }, class: "text-danger" if current_user.admin? || user.eql?(current_user) %>
          <br />
        <% end %>
      <% else %>
        None
      <% end %>
    </div>
  </div>
</div>