<% provide(:title, "Work Events") %>

<div class="card text-center">
  <div class="card-header">
    Work Events
  </div>
  <div class="card-body">
    <h5 class="card-title">Select an event that you can work with us.</h5>
    <div class="container">
      <%= month_calendar events: @work_events do |date, work_events| %>
        <div class="float-left">
          <%= date.day %>
        </div>
        <br />
        <% work_events.each do |work_event| %>
          <a data-toggle="modal" data-target="#modal-window" data-remote="true" href="<%= open_modal_work_events_path(id: work_event.id) %>">
            <%= "#{work_event.start_time.strftime("%H:%M")}-#{work_event.end_time.strftime("%H:%M")}" %>
            <br />
            <%= work_event.title%>
          </a>
          <br />
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if current_user.admin? %>
  <%= render 'new' %>
<% end %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>