<div class="container mx-auto bg-light">
  <div class="card text-white bg-secondary" style="margin-top: 15px;">
    <div class="container">
      <div class="card-header">Hello, <%= @user.first_name %></div>
    </div>
    <div class="card-body">
      <h5 class="card-text text-center">You are receiving this email because you committed yourself to help in one of our work events.</h5>
      <p class="card-text text-center">Some more information bellow:</p>
      <div class="card bg-dark" style="margin: 15px;">
        <div class="text-center">
          <h4 class="text-center text-warning"><%= @work_event.title %></h4>
          Working day: <b class="text-warning"><%= @work_event.start_time.strftime("%d %b, %Y") %></b> <br />
          Working hours: <b class="text-warning"><%= @work_event.start_time.strftime("%H:%M") %> to <%= @work_event.end_time.strftime("%H:%M") %></b>
          <br />
          Description:
          <div class="text-warning">
            <%= @work_event.description %>
          </div>
          You can access the work event: <br />
          <%= link_to 'Work Event', work_event_url(@work_event), class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
    <div class="card-footer" style="margin: 15px;">
      Have a nice day,
      <br />
      ~The Passage Shift Team
    </div>
  </div>
</div>
