<% provide(:title, "Create new password") %>
<% devise_error_messages %>

<div class="card text-center">
  <div class="card-header">
    <%= yield(:title) %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Fill the form bellow to create a new password</h5>
    <p class="card-text">Volunteer to help feed London’s homeless.</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group col-lg-4 col-md-6 mx-auto">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password (#{@minimum_password_length} characters minimum)", class: "form-control", autofocus: true %>
      </div>

      <div class="form-group col-lg-4 col-md-6 mx-auto">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "New password Confirmation", class: "form-control" %>
      </div>

      <div class="m-3">
        <%= f.submit "Create new password", class: "btn btn-secondary"%>
      </div>
    <% end %>
  </div>
  <div class="card-footer text-muted">
    <%= render "users/shared/links" %>
  </div>
</div>
