<% provide(:title, "Forgot your password?") %>
<% devise_error_messages %>

<div class="card text-center">
  <div class="card-header">
    <%= yield(:title) %>
  </div>
  <div class="card-body">
    <h5 class="card-title">If you forgot your password, we will send you new password instructions</h5>
    <p class="card-text">Volunteer to help feed London’s homeless.</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="form-group col-lg-4 col-md-6 mx-auto">
        <%= f.email_field :email, autocomplete: "email", placeholder: "Email: example@domain.com", required: true, class: "form-control", autofocus: true %>
      </div>

      <div class="m-3">
        <%= f.submit "Send me reset password instructions", class: "btn btn-secondary"%>
      </div>
    <% end %>
  </div>
  <div class="card-footer text-muted">
    <%= render "users/shared/links" %>
  </div>
</div>
