<% provide(:title, "Emails") %>

<div class="card text-center">
  <div class="card-header">
    <%= yield(:title) %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Send Emails.</h5>
    <p class="card-text">You are an admin and that's why you can access this page.</p>

    <table class="table table-striped table-dark table-responsive-sm">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col"># of Work events</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
    <% @users.each_with_index do |user, i| %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><%= link_to user.full_name, profile_path(user) %></td>
          <td><%= user.user_events.count %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td>
            <%= link_to "Request HELP", request_help_emails_path(user_id: user.id), class: "btn btn-warning" %>
          </td>
        </tr>
    <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "Request HELP from all users", request_help_to_all_emails_path, class: "btn btn-warning", data: {confirm: "Are you sure? This will send an email to all users."} %>

  <div class="card-footer text-muted">
    Do you have a question or concern? Send us an email at thepassageshift@gmail.com
  </div>
</div>