<h2>Hello, <%= @user.first_name %></h2>

You are receiving this email because you committed yourself to help in one of our work events.
<br />
The work event informations are:
<br />
Title: <%= @work_event.title %>
<br />
Description: <%= @work_event.description %>
<br />
Working day: <%= @work_event.start_time.strftime("%d %b, %Y") %>
<br />
Working hours: <%= @work_event.start_time.strftime("%H:%M") %> to <%= @work_event.end_time.strftime("%H:%M") %>
<br />
You can access the work event <%= link_to 'HERE', work_events_url %>
<br />


Have a nice day,
<br />
The Passage Shift Team
