<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="<%= root_path %>"><img src="<%= asset_path('logo.png') %>" class="main_logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item m-3">
        <%= link_to 'About', '#', class: 'nav-link' %>
      </li>
      <li class="nav-item m-3">
        <%= link_to 'Contact', '#', class: 'nav-link' %>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto pr-5">
      <% if user_signed_in? %>
        <li class="nav-item m-3">
          <%= link_to 'Daily Summary', daily_summary_work_events_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown m-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Work Events
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'My Work Events', user_events_path, class: 'dropdown-item' %>
            <%= link_to 'All Work Events', work_events_path, class: 'dropdown-item' %>
          </div>
        </li>
        <% if current_user.admin? %>
          <li class="nav-item dropdown m-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin Area
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'User Roles', user_types_path, class: 'dropdown-item' %>
            </div>
          </li>
        <% end %>
        <li class="nav-item dropdown m-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.first_name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Profile', profile_path(current_user), class: 'dropdown-item' %>
            <%= link_to 'My Availabilities', availabilities_path, class: 'dropdown-item' %>
            <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item m-3">
          <%= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item m-3">
          <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>